body 
{ 
background-color: #00b359;
}

button
{
background-color: #00ccff
}

nav
{
position: absolute;
right: 50%;
}

 p
 {
 	background-color: white;
 	width: 500px;
 	font-family: 'Roboto', sans-serif;
 }

 div
 {
 	background-color: white
 }

 aside
 {
 	float: right;
    width: 30%;
    margin: 10%;
 }

h2
{
	font-family: 'Roboto', sans-serif;
}

h3
{
	font-family: 'Roboto', sans-serif;
}

footer
{ 
font-family: 'Roboto', sans-serif;
position: absolute;
right: 0%;
background-color: #00b359;
}